h2 {
  width: 100%;
  color: whitesmoke;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.fa-facebook {
  display: flex;
  background: #3b5998;
  color: whitesmoke;
  justify-content: center;
}

.fa {
  padding: 5px;
  font-size: 36px;
  width: 50px;
 

  text-decoration: none;
 
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
